{% extends 'base.html.twig' %}

{% block title %}Edit ReviewComment{% endblock %}

{% block body %}
    <h1>Edit ReviewComment</h1>

    {{ include('review/review_comment/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('review/review_comment/_delete_form.html.twig') }} 
{% endblock %}