body {
    margin: 0!important;
    font-family: Raleway,sans-serif!important;
    font-size: .9rem!important;
    font-weight: 400!important;
    line-height: 1.6!important;
    color: #212529!important;
    text-align: left!important;
    background-color: #f5f8fa!important;
}

.container {
    max-width: 1300px!important;
}

.banner-vertical {
    width: 100%;
    height: auto;
    right: calc(100vw * 0.008);
    top: 150px;
}