body {
    margin: 0!important;
    font-family: Raleway,sans-serif!important;
    font-size: .9rem!important;
    font-weight: 400!important;
    line-height: 1.6!important;
    color: #212529!important;
    text-align: left!important;
    background-color: #f5f8fa!important;
}

.banner-vertical {
    border: solid 2px white;
    position: absolute;
    width: 240px;
    right: calc(100vw * 0.008);
    top: 150px;
}

@media (max-width: 1600px) {
    .banner-vertical {
        position: relative;
        width: 240px;
        right: 0px;
        left: 180px;
        top: 0px;
    }
}