{% block body %}
    <div class="banner-content">
        <a href="{{ banner.src }}">
            <img src="{{ absolute_url(asset(banner.bannerImg)) }}" alt="#" style="width: 240px; height: 400px;">
        </a>
    </div>
{% endblock %}