{% block body %}
    <div class="banner-content">
        <a href="{{ banner.src }}">
            <img src="{{ absolute_url(asset(banner.bannerImg)) }}" alt="#">
        </a>
    </div>
{% endblock %}