{% extends 'base.html.twig' %}

{% block title %}Новый баннер{% endblock %}

{% block body %}
    <h1>Создать баннер</h1>

    <a class="btn btn-primary" href="{{ path('cabinet.business.adverts') }}">< Реклама</a>
    <hr>
    <div class="card card-body">
        Вы можете загрузить изображение вертикальное или горизонтальное. Вертикальное изображение не должно превышать 250px по ширине, а горизонтальное изображение не должно быть по высоте более 400px.
    </div>
    <hr>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Сохранить</button>
    {{ form_end(form) }}
{% endblock %}