<form method="post" action="{{ path('company.tag.delete', {'id': tag.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tag.id) }}">
    <button class="btn btn-outline-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
</form>