{% extends 'base.html.twig' %}

{% block title %}New Like{% endblock %}

{% block body %}
    <h1>Create new Like</h1>

    {{ include('review_like/_form.html.twig') }}

    <a href="{{ path('review_like_index') }}">back to list</a>
{% endblock %}