{% extends 'base.html.twig' %}

{% block title %}Добавить комментарий{% endblock %}

{% block body %}
    <h2>Добавить комментарий</h2>
    <hr>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" value="Добавить">
    {{ form_end(form) }}
{% endblock %}