{% extends 'base.html.twig' %}

{% block title %}Добавить рубрику{% endblock %}

{% block body %}
    <h1>Добавить новую рубрику</h1>

    {{ include('category/category/_form.html.twig') }}

    <a href="{{ path('category.index') }}">back to list</a>
{% endblock %}