{% extends 'base.html.twig' %}

{% block title %}Cabinet!{% endblock %}

{% block body %}
    <ul class="nav nav-pills nav-fill mb-3">
        <li class="nav-item"><a class="nav-link active" href="#">Компании <span class="badge badge-pill badge-primary">111</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#">Отзывы <span class="badge badge-pill badge-primary">111</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#">Комментарии <span class="badge badge-pill badge-primary">111</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#">Запросы <span class="badge badge-pill badge-primary">111</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#">Реклама <span class="badge badge-pill badge-primary">111</span></a></li>
    </ul>
{% endblock %}
