<div class="category-path">
    <style>
        .category-path {
            display: table;
            direction: rtl;
        }

        .category-path span {
            display: table-cell;
            border: none;
            box-sizing: border-box;
            text-align: center;
            text-decoration: none;
            direction: rtl;
        }
    </style>
    {% import _self as macros %}
    {% macro category_path(category) %}
        {% import _self as macros %}
        <span><a class="btn badge badge-primary" href="{{ path('category.show', {'id': category.id}) }}">{{ category.name }}</a></span>
        {% if category.parentCategory %}
            {{ macros.category_path(category.parentCategory) }}
        {% endif %}
    {% endmacro %}
    {% for category in company.categories %}
        {% if category.childrenCategories|length == 0 %}
            {{ macros.category_path(category) }}
        {% endif %}
    {% endfor %}
</div>