{% extends 'base.html.twig' %}

{% block title %}Cabinet!{% endblock %}

{% block body %}
    <ul class="nav nav-pills nav-fill mb-3">
        <li class="nav-item"><a class="nav-link active" href="#">Новое <span class="badge badge-pill badge-primary">14</span></a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('cabinet.reviews') }}">Отзывы</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('cabinet.profile') }}">Профиль</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Избранное</a></li>
        {% if app.user.isBusiness %}
            <li class="nav-item"><a class="nav-link" href="{{ path('cabinet.business.profile') }}">Бизнес</a></li>
        {% endif %}
    </ul>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Событие</th>
                <th>Значение</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#">МЯСОРУБ</a></td>
                <td>Ответил на ваш <a href="#">отзыв</a>!</td>
            </tr>

            <tr>
                <td><a href="#">Виктория Иванова</a></td>
                <td>Ответил на ваш <a href="#">отзыв</a>!</td>
            </tr>

            <tr>
                <td><a href="#">МЯСОРУБ</a></td>
                <td>Ответил на ваш <a href="#">отзыв</a>!</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
