{% extends 'base.html.twig' %}

{% block title %}Cabinet Reviews!{% endblock %}

{% block body %}
    <ul class="nav nav-pills nav-fill mb-3">
        <li class="nav-item"><a class="nav-link" href="{{ path('cabinet') }}">Новое <span class="badge badge-pill badge-primary">14</span></a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('cabinet.reviews') }}">Отзывы</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('cabinet.profile') }}">Профиль</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Избранное</a></li>
        <li class="nav-item"><a class="nav-link active" href="#">Бизнес</a></li>
    </ul>
    <ul class="nav nav-pills nav-fill mb-3">
        <li class="nav-item"><a class="nav-link" href="{{ path('cabinet.business.profile') }}">Компании</a></li>
        <li class="nav-item"><a class="nav-link active" href="#">Реклама</a></li>
    </ul>
    <hr>
    <h2>Реклама</h2>
{% endblock %}
