{% extends 'base.html.twig' %}

{% block title %}Добавить протектор{% endblock %}

{% block body %}
    <h2>Добавить протектор</h2>
    <a href="{{ path('admin') }}" class="btn btn-primary">< Все компании</a>
    <hr>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" value="Добавить">
    {{ form_end(form) }}
{% endblock %}
