{% extends 'base.html.twig' %}

{% block title %}New ReviewComment{% endblock %}

{% block body %}
    <h1>Create new ReviewComment</h1>

    {{ include('review_comment/_form.html.twig') }}

    <a href="#">back to list</a>
{% endblock %}