{% extends 'base.html.twig' %}

{% block title %}Companies{% endblock %}

{% block body %}
    <h2>Companies</h2>
    {#<a href="{{ path('company.create') }}" class="btn btn-success">Add company</a>#}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Site</th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies %}
                <tr>
                    <td>{{ company.name }}</td>
                    <td>{{ company.phone }}</td>
                    <td><a href="{{ company.site }}" class="btn btn-primary">Перейти</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
