<h3>Поздравляем с регистрацией на Blamp!</h3>

<p>Приветствуем {{ username }}! Для активации аккаунта перейдите по ссылке ниже:</p>

<a href="{{ url('verify', {'token' : token}) }}">Подтвердить аккаунт!</a>